@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&family=Libre+Baskerville:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&family=Lato&family=Libre+Baskerville:wght@700&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;600&family=Lato&family=Libre+Baskerville:wght@700&family=Merriweather:wght@300&family=Roboto:wght@400;500&display=swap');


*{
    margin: 0rem;
    padding: 0rem;
}

.mainbackground{
    width: 100%;
    background-color: #141C2F;
    display: flex;
    height: 47rem;
}

/* nav */
.nav{
    width: 60%;
    height: 3rem;
    margin-top: 3rem;
    margin-left: 19rem;
}

.devfinder{
    width: 10rem;
    margin-left: 1rem;
    height: 3rem;
}

.devfinder h2{
    font-family: Inter;
    color: #fff;
    text-align: center;
    font-size: 2rem;
}

.light{
    width: 5rem;
    margin-left: 50rem;
    margin-top: -2rem;
}

.light h2{
    font-family: Inter;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
}

.icon{
    height: 2rem;
    width: 2rem;
    margin-left: 54rem;
    margin-top: -1.5rem;
}

.icon img{
    height: 2rem;
    width: 2rem;
}

/* searchbar */
.searchbar{
    margin-top: 6rem;
    margin-left: -56rem;
    width:58%;
    background-color: #1F2A48;
    height: 4rem;
    border-radius: 0.8rem;
}

.searchicon{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1.5rem;
    margin-top: 0.8rem;
}

.searchicon i{
    font-size: 2rem;
    color: #284C84;
}

.searchbar p{
    color: #ACB2C8;
    margin-top: -2rem;
    margin-left: 5rem;
    
}

.search{
    height: 3rem;
    width: 6rem;
    background-color: #087AFC;
    border-radius: 0.5rem;
    margin-left: 48.5rem;
    margin-top: -2rem;
}

.search h3{
    text-align: center;
    padding-top: 0.8rem;
    color: #fff;
}

/* middle containt */

.middlecontaint{
    background-color: #1F2A48;  
    width: 58%;
    height: 30rem;
    margin-left: -55.5rem;
    margin-top: 11rem;
    border-radius: 1rem;
}

.logo{
    background-color: rgb(246, 248, 249);
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
    margin-top: 3rem;
    margin-left: 3rem;
}

.logo img{
    height: 7rem;
    width: 7rem;
    border-radius: 100%;
}

.head{
    width: 40rem;
    margin-left: 12rem;
    margin-top: -7rem;
    display: flex;
}

.heading{
    width: 20rem;
    height: 2rem;
}
.head h2{
    font-family: Inter;
    word-spacing: 0.8rem;
    color: #fff;
}

.joineddate{
    width: 10rem;
    margin-left: 22rem;
}

.joineddate p{
    font-family: Lato;
    color: #ACB2C8;
    font-size: 1rem;
}

.subheading{
    width: 8rem;
    margin-top: 3rem;
    margin-left: -20rem;
    
}

.subheading h4{
    color: #144789;
    font-size: 1.3rem;
}

.profileinfo{
    width: 15rem;
    margin-left: 12rem;
    margin-top: 1rem;
    color: #ACB2C8;
}

.profileinfo p{
    font-size: 1.1rem;
}

.status{
    background-color: #141C2F;
    width: 60%;
    margin-left: 12rem;
    margin-top: 2rem;
    border-radius: 1rem;
    height: 6rem;
    display: flex;
    justify-content: space-evenly;
}

.repose{
    width: 6rem;
    margin-left: -0.2rem;
    margin-top: 0.5rem;
}


.repose p{
    padding-top: 1rem;
    font-family: Inter;
    font-weight: bold;
    color: #97A1AE;
    text-align: center;
}

.repose h2{
    padding-top: 0.2rem;
    text-align: center;
    font-family: Inter;
    font-weight: bold;
    color:#DDE2EE;
}

.footer{
    width: 60%;
    margin-left: 12rem;
    margin-top: 1rem;
    height: 8rem;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.location{
    width: 35%;
    margin-top: 1rem;
    height: 2rem;
    margin-left: 0.2rem;
}

.location i{
    padding-top: 0.2rem;
    padding-left: 0.1rem;
    color: #F6F8F9;
    font-size: 1.5rem;
}

.location p{
    padding-left: 3rem;
    margin-top: -1.3rem;
    font-size: 1rem;
    color: #F6F8F9;
}

.twitter{
    width: 35%;
    margin-top: 1rem;
    height: 2rem;
    margin-left: 0.2rem;
}

.twitter i{
    padding-top: 0.2rem;
    padding-left: 0.1rem;
    color: #8F95A5;
    font-size: 1.5rem;
}

.twitter p{
    padding-left: 3rem;
    margin-top: -1.3rem;
    font-size: 1rem;
    color: #8F95A5;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mainbackground{
        width: 40vh;
        background-color: #141C2F;
        display: flex;
        height: 47rem;
    }
    
    /* nav */
    .nav{
        width: 38vh;
        height: 3rem;
        margin-top: 3rem;
        margin-left: 0.5rem;
        background-color: rgb(60, 58, 58);
    }
    
    .devfinder{
        width:6rem;
        margin-left: 1rem;
        height: 2rem;
    }
    
    .devfinder h2{
        font-family: Inter;
        color: #fff;
        text-align: center;
        font-size: 1.2rem;
    }
    
    .light{
        width: 3rem;
        margin-left: 14rem;
        margin-top: -2rem;
    }
    
    .light h2{
        font-family: Inter;
        color: #fff;
        text-align: center;
        font-size: 0.8rem;
    }
    
    .icon{
        height: 1.5rem;
        width: 1.5rem;
        margin-left: 18rem;
        margin-top: -1.3rem;
    }
    
    .icon img{
        height: 1.5rem;
        width: 1.5rem;
    }
    
    /* searchbar */
    .searchbar{
        margin-top: 6rem;
        margin-left: -20rem;
        width: 26vh;
        background-color: #1F2A48;
        height: 4rem;
        border-radius: 0.8rem;
    }
    
    .searchicon{
        width: 2.5rem;
        height: 2.5rem;
        margin-left: 0.5rem;
        margin-top: 0.8rem;
    }
    
    .searchicon i{
        font-size: 2rem;
        color: #284C84;
    }
    
    .searchbar p{
        color: #ACB2C8;
        margin-top: -2rem;
        margin-left: 3rem;
        
    }
    
    .search{
        height: 3rem;
        width: 5rem;
        background-color: #087AFC;
        border-radius: 0.5rem;
        margin-left: 14.3rem;
        margin-top: -2rem;
    }
    
    .search h3{
        text-align: center;
        padding-top: 0.8rem;
        color: #fff;
    }
    
    /* middle containt */
    
    .middlecontaint{
        background-color: #1F2A48;  
        width: 26vh;
        height: 30rem;
        margin-left: -19.5rem;
        margin-top: 11rem;
        border-radius: 1rem;
    }
    
    .logo{
        background-color: rgb(246, 248, 249);
        height: 5rem;
        width: 5rem;
        border-radius: 100%;
        margin-top: 1rem;
        margin-left: 1rem;
    }
    
    .logo img{
        height: 5rem;
        width: 5rem;
        border-radius: 100%;
    }
    
    .head{
        width: 20vh;
        margin-left: 6rem;
        margin-top: -7rem;
        display: flex;
        background-color: #97A1AE;
    }
    
    .heading{
        width: 15vh;
        height: 2rem;
        background-color: #1F2A48;
    }
    .head h2{
        font-family: Inter;
        word-spacing: 0.8rem;
        color: #fff;
        font-size: 1rem;
    }
    
    .joineddate{
        width: 10rem;
        margin-left: 22rem;
    }
    
    .joineddate p{
        font-family: Lato;
        color: #ACB2C8;
        font-size: 1rem;
    }
    
    .subheading{
        width: 8rem;
        margin-top: 3rem;
        margin-left: -20rem;
        
    }
    
    .subheading h4{
        color: #144789;
        font-size: 1.3rem;
    }
    
    .profileinfo{
        width: 15rem;
        margin-left: 12rem;
        margin-top: 1rem;
        color: #ACB2C8;
    }
    
    .profileinfo p{
        font-size: 1.1rem;
    }
    
    .status{
        background-color: #141C2F;
        width: 60%;
        margin-left: 12rem;
        margin-top: 2rem;
        border-radius: 1rem;
        height: 6rem;
        display: flex;
        justify-content: space-evenly;
    }
    
    .repose{
        width: 6rem;
        margin-left: -0.2rem;
        margin-top: 0.5rem;
    }
    
    
    .repose p{
        padding-top: 1rem;
        font-family: Inter;
        font-weight: bold;
        color: #97A1AE;
        text-align: center;
    }
    
    .repose h2{
        padding-top: 0.2rem;
        text-align: center;
        font-family: Inter;
        font-weight: bold;
        color:#DDE2EE;
    }
    
    .footer{
        width: 60%;
        margin-left: 12rem;
        margin-top: 1rem;
        height: 8rem;
        border-radius: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .location{
        width: 35%;
        margin-top: 1rem;
        height: 2rem;
        margin-left: 0.2rem;
    }
    
    .location i{
        padding-top: 0.2rem;
        padding-left: 0.1rem;
        color: #F6F8F9;
        font-size: 1.5rem;
    }
    
    .location p{
        padding-left: 3rem;
        margin-top: -1.3rem;
        font-size: 1rem;
        color: #F6F8F9;
    }
    
    .twitter{
        width: 35%;
        margin-top: 1rem;
        height: 2rem;
        margin-left: 0.2rem;
    }
    
    .twitter i{
        padding-top: 0.2rem;
        padding-left: 0.1rem;
        color: #8F95A5;
        font-size: 1.5rem;
    }
    
    .twitter p{
        padding-left: 3rem;
        margin-top: -1.3rem;
        font-size: 1rem;
        color: #8F95A5;
    }
}

